.git

/api/static/
/api/audios/
/api/__pycache__/


/app/.gradle/
/app/.idea/
/app/gradle/
/app/build.gradle
/app/gradle.properties
/app/local.properties
/app/settings.gradle

/app/app/build
/app/app/libs
/app/app/build.gradle
/app/app/proguard-rules.pro

/app/app/src/androidTest/
/app/app/src/test/
